body {
  font-family: "Gagalin", "Roboto", "Sans serif";
}
.container-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 4rem;
}

.logo {
  width: 12rem;
  border-radius: 50%;
}

.lista {
  display: flex;
  flex-wrap: wrap;
  margin: 0 2rem 0 3rem;
  justify-content: space-between;
}

.lista-item {
  list-style: none;
  margin-right: 5rem;
  font-size: 3rem;
  padding: 2rem;
  border-radius: 20px;
  transition: 0.8s;
  flex-wrap: wrap;
}

.lista-item:hover {
  background-color: rgba(0, 255, 255, 0.479);
  cursor: pointer;
}

.item-selected {
  background-color: rgba(75, 74, 74, 0.767);
  color: white;
}

@media screen and (max-width: 768px) {
  .container-header {
    padding: 2rem;
    margin-top: 2rem;
  }

  .logo {
    width: 4rem;
  }

  .lista-item {
    display: flex;
    margin-right: 0rem;
    font-size: 2.4rem;
    padding: 0.8rem;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 769px) {
  .container-header {
    padding: 2rem;
  }

  .logo {
    width: 10rem;
  }

  .lista-item {
    margin-right: 1rem;
    font-size: 2rem;
    padding: 0.8rem;
  }
}

@media screen and (min-width: 1000px) {
  .container-header {
    padding: 4rem;
  }

  .logo {
    width: 12rem;
  }

  .lista-item {
    margin-right: 1rem;
    font-size: 2.8rem;
    padding: 1.8rem;
  }
}
