div .container-juego {
  display: flex;
  text-align: center;
  width: 60vw;
  height: 78vh;
  margin-top: -2rem;
  align-items: center;
}

.title {
  color: rgba(119, 10, 182, 0.829);
  font-size: 5rem;
  margin-top: 2rem;
}

.lista-juego__item {
  list-style: none;
}

.palabra-secreta-oculta {
  margin-top: 3rem;
}

.letra {
  width: 10rem;
  height: 10rem;
  font-size: 6rem;
  text-align: center;
  background-color: rgba(250, 235, 215, 0.089);
  border: none;
  border-bottom: 1rem rgba(255, 0, 0, 0.5) solid;
  margin-bottom: 0.8rem;
}

.btn-eleccion__input {
  background-color: rgba(238, 121, 25, 0.603);
  width: 10rem;
  padding: 0;
  height: 5rem;
  font-size: 2.4rem;
  margin-bottom: 3rem;
  border-radius: 25px;
  transition: 1s;
}

.btn-eleccion__input:hover {
  transform: scale(1.2);
  cursor: pointer;
  background-color: rgba(255, 115, 0, 0.952);
  box-shadow: 0.2rem 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.4);
}

.letra-por-letra {
  display: flex;
  list-style: none;
  width: 95%;
  max-width: 100%;
  margin: 0 1rem 0 1rem;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.letra-por-letra div {
  justify-content: space-around;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
}

.letra-por-letra li {
  text-align: center;
  border-bottom: 2px green solid;
  font-size: 4rem;
  margin: 0rem 1rem 2rem 1rem;
}

.oculto {
  display: none;
}

li .espacio-palabra {
  text-decoration: none;
  margin: 0 1rem 0 1rem;
}

li .letra-palabra {
  display: flex;
  align-items: center;
}
.palabra-larga {
  max-height: 20vh;
  overflow: scroll;
}

@media screen and (max-width: 768px) {
  .palabra-larga {
    max-height: 18vh;
    overflow: scroll;
  }

  div .container-juego {
    box-sizing: border-box;
    margin-top: -2rem;
    width: 88vw;
    max-height: 72vh;
  }

  .title {
    font-size: 3rem;
  }

  .letra-por-letra {
    width: 90%;
    margin: 0 1rem 0 1rem;
  }

  .letra-por-letra li {
    font-size: 2rem;
    margin: 1rem 1rem 1rem 1;
  }

  .btn-eleccion__input {
    height: 2rem;
    font-size: 1.6rem;
  }

  .letra {
    width: 6rem;
    height: 6rem;
  }

  .juego-terminado:nth-child(2) {
    height: 65vh;
  }
}
